<% include partials/header %>
<header class="jumbotron-custom">
    <h1>HOME PAGE</h1>
</header>
<div class="jumbotron-custom">
   <a href="/ebike/new"> <button class="form-button">add new e-bike</button></a>
</div>
<% include partials/footer %>