<% include partials/header %>
<header class="jumbotron-custom jumbotron-custom-login">
    <h2 class="">Sign up</h2><br>
    <form action="/register" method="post">
        <input class="form-input" name="username" type="text" placeholder="Username"></input>
        <input class="form-input" name="password" type="password" placeholder="password"></input>
        <button class="form-button">Sign up</button>
    </form>
</header>
<% include partials/footer %>