body {
  background: linear-gradient(to left, #76b852, #8DC26F);
}
a {
  color: #eeeeee !important;
}
li>a {
  color: #666666 !important;
}
.navbar-custom {
  font-family: 'Roboto', sans-serif;
  color: #363636;
  text-transform: uppercase;
  outline: 0;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.jumbotron-custom {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  max-width: 80%;
  margin: 0 auto 25px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #FFFFFF;
}
.jumbotron-custom-comment {
  margin: 0 auto 15px;
  padding: 20px;
  border-radius: 10px;
}
.jumbotron-custom-login {
  padding-top: 50px;
  max-width: 30%;
  padding-bottom: 100px;
}
.form-input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button-inline {
  display: inline !important;
}
.row-custom {
  display: flex;
  flex-wrap: wrap;
}
.hr-custom {
  border-top: 3px solid #4CAF50;
  width: 120px;
}