<% include ../partials/header %>
<header class="jumbotron-custom">
    <h2 class=""> Add a new comment to <strong><%= ebike.model %></strong> </h2><br>
    <form action="/ebike/<%= ebike._id %>/posts" method="post">
        <input class="form-input" name="post[text]" type="text" placeholder="Write your opinion or question here"></input>
        <button class="form-button">Post</button>
    </form>
</header>
<% include ../partials/footer %>